<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>

    <figure>
        <a href="/"> <img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>

    <h1>LISTA DE FILMES DO GENERO: <%= genre.name %> </h1>
    <br>
    <a href="/genres"> Genres List </a>  
    <br> <br>
    <ul>
        <% movies.forEach(movie => { %>
        <li>
            <a href="/movies/detail/<%= movie.id %> "><%= movie.title %></a>
        </li>
        <% }) %>
    </ul>
</body>

</html>