<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/"> <img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= title %></h1>
    <p>Bem vindos a <%= title %></p>
    <br>
    <h2> Links </h2>
    <ul>
      <li><a href="/movies"> Movies List </a></li>
      <li><a href="/genres"> Genres List </a></li>
      <li><a href="/actors"> Actors List </a></li>
    </ul>
  </body>
</html>
